<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Groovetown</title>

    <meta name="description" content="A Bandcamp inspired website where users can upload, download, and stream music." />
    <meta name="title" property="og:title" content="Groovetown" />
    <meta property="og:type" content="Website" />
    <meta
      name="image"
      property="og:image"
      content="https://user-images.githubusercontent.com/6326660/103422492-a0ae9a00-4b56-11eb-90c2-2e49271145b7.png" />
    <meta name="description" property="og:description" content="A Bandcamp inspired website where users can upload, download, and stream music." />
    <meta name="author" content="Jason Zhen" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('logo.svg') %>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
