<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Primary Meta Tags -->
    <title>Groovetown</title>
    <meta name="title" content="Groovetown">
    <meta name="description" content="A Bandcamp inspired website where users can upload, download, and stream music.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://groovetown.herokuapp.com/">
    <meta property="og:title" content="Groovetown">
    <meta property="og:description" content="A Bandcamp inspired website where users can upload, download, and stream music.">
    <meta property="og:image" content="https://user-images.githubusercontent.com/6326660/103428023-e760bc00-4b77-11eb-87d5-55dbd3e48c03.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://groovetown.herokuapp.com/">
    <meta property="twitter:title" content="Groovetown">
    <meta property="twitter:description" content="A Bandcamp inspired website where users can upload, download, and stream music.">
    <meta property="twitter:image" content="https://user-images.githubusercontent.com/6326660/103428023-e760bc00-4b77-11eb-87d5-55dbd3e48c03.png">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('logo.svg') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/fontawesome.min.js" integrity="sha512-kI12xOdWTh/nL2vIx5Yf3z/kJSmY+nvdTXP2ARhepM/YGcmo/lmRGRttI3Da8FXLDw0Y9hRAyZ5JFO3NrCvvXA==" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
