<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('logo.svg') %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=# Primary Meta Tags %>
    <title>groovetown</title>
    <meta name="title" content="groovetown">
    <meta name="description" content="A Bandcamp inspired website, where users can upload, download, and stream music.">

    <%=# Open Graph / Facebook %>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://groovetown.herokuapp.com/">
    <meta property="og:title" content="groovetown">
    <meta property="og:description" content="A Bandcamp inspired website, where users can upload, download, and stream music.">
    <meta property="og:image" content="https://user-images.githubusercontent.com/6326660/102604736-77fbbe80-40d9-11eb-8ead-a11dbe926850.jpg">

    <%=# Twitter %>
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://groovetown.herokuapp.com/">
    <meta property="twitter:title" content="groovetown">
    <meta property="twitter:description" content="A Bandcamp inspired website, where users can upload, download, and stream music.">
    <meta property="twitter:image" content="https://user-images.githubusercontent.com/6326660/102604736-77fbbe80-40d9-11eb-8ead-a11dbe926850.jpg">


    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
