<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Primary Meta Tags -->
    <title>Groovetown</title>
    <meta name="title" content="Groovetown" />
    <meta name="author" content="Jason Zhen" />
    <meta name="description" content="A Bandcamp inspired website where users can upload, download, and stream music." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Groovetown" />
    <meta property="og:image" content="https://user-images.githubusercontent.com/6326660/107345022-ffc9cd80-6a77-11eb-8117-e4a64adbdda1.jpg" />
    <meta property="og:description" content="A Bandcamp inspired website where users can upload, download, and stream music." />
    <meta property="og:url" content="https://groovetown.herokuapp.com/" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://groovetown.herokuapp.com/" />
    <meta property="twitter:title" content="Groovetown" />
    <meta property="twitter:description" content="A Bandcamp inspired website where users can upload, download, and stream music." />
    <meta property="twitter:image" content="https://user-images.githubusercontent.com/6326660/107345022-ffc9cd80-6a77-11eb-8117-e4a64adbdda1.jpg" />


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('logo.svg') %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
