<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('logo.svg') %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Groovetown</title>
    <meta name="title" property="og:title" content="Groovetown" />
    <meta property="og:type" content="Website" />
    <meta
      name="image"
      property="og:image"
      content="https://user-images.githubusercontent.com/6326660/102604736-77fbbe80-40d9-11eb-8ead-a11dbe926850.jpg" />
    <meta name="description" property="og:description" content="A Bandcamp inspired website where users can upload, download, and stream music." />
    <meta property="og:url" content="http://groovetown.herokuapp.com" />
    <meta name="author" content="Jason Zhen" />

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
